@model A320FailureConsole.Models.ACSystem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACSystem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACSystemIDName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACSystemIDName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DREF0prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DREF0prefix)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ACSystemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
